section{
    margin-top: 15vh;
}
ul li{
    border-bottom: solid 1px white;
    list-style: none;
}
ul li button{
    width: 100%;
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    text-align:start;
}